<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <div id="holder" class="normal updateHolder">
        <div class="updateFile" id="updateFile">
            <input type="file" id="addFile" class="addIcon" multiple >
        </div>
    </div>
    <div id="modal">
        <div class="modal_container">
            <h2>上传文件</h2>
            <div class="modal_content"></div>
            <div class="modal_operate">
                <button class="modal_close">确定</button>
            </div>
        </div>
    </div>
</body>
</html>